
@use "variables" as v;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: v.$font-family;
}


#wallpaper {
   background: url('../../Images/another.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  }
  
 
  

