@use './partials/variables';
@use './partials/mixins';
@use './partials/base';
@use './partials/icons';
@use './partials/apps';
@use './partials/taskbar';
@use './partials/modal';
@use './partials/menu';
@use './partials/mediaPlayer';
@use './partials/notepad';
@use './partials/myPictures';

@media (max-width: 768px) {
  #taskbar {
    height: 50px;
  }

  #startButton img {
    height: 35px;
  }

  #time {
    font-size: 14px;
  }
}